<div ng-include="'view/public.html'"></div>
<div class="center-content">
	<div class="leftbox">
          <div class="c-left">
              <ul><h2>公司新闻/<span>News</span></h2></ul>
              <ol>
                  <li><a href="#">公司新闻</a></li>
                  <li><a href="#">行业动态</a></li>
              </ol>
          </div>

          <div class="albaba">
          	<a href="#"><img src="images/alibaba.png" width="250" height="500"/></a>
          </div>
                    <div class="conacts">                	
					<ul>
                    	<li>公司地址：山西农业大学信息学院-1201室</li>
                     	<li>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：030800</li>
                        <li>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：0871-63382366 0871-68247828</li>
                        <li>传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真：0871-63382366</li>
                        <li>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：tanbo0719@163.com</li>                 
                    </ul>
           </div>
    </div>
    <div class="c-right">
    	<!--<div class="media media_con" ng-repeat="item in items">
			  <a class="pull-left" href="#">
			    <img class="media-object" width="220px" height="160px" ng-src="{{item.image}}">
			  </a>
			  <div class="media-body">
			  	<ul id="biuuu_city_list"></ul> 
			    <!--<h4 class="media-heading new_title">{{item.title}}</h4>
			    <p class="new_con">{{item.content}}</p> -->
			    <!--<div id="demo7">
			
				</div>
			  </div>
			  
		</div>-->
		<div class="media media_con" id="biuuu_city_list">
			
		</div>
		<div id="demo7">
			
		</div>
    </div>
    
</div>