<header class="shop_head">
	<div class="head_main">
		<div>
			<span class="name">{{username}}您好，</span>
			<span>欢迎来到茉莉花购物商城</span>
		</div>
		<div class="head_main_list">
			<a href="#">首页</a>
			<a ng-click="outlogin()">退出</a>
			<a href="">我的订单</a>
			<a href="">
				<span>
					<img src="images/gouwu.png" width="15">
				</span>
				<span>购物车</span>
			</a>
			<a href="">关于我们</a>
		</div>
	</div>
</header>
<section>
	<div class="shop_container">
		<div class="logopart shop_logopart">
			<a href="index.html" class="shop_logo">茉莉花茶追溯平台</a>
		</div>
		
	</div>
</section>
    <section class="cartMain">
        

        <div class="cartBox">
			<div class="cartMain_hd">
	            <ul class="order_lists cartTop">
	                <li class="list_chk">
	                    <!--所有商品全选-->
	                    <input type="checkbox" id="all" class="whole_check" ng-model="selectAll"  ng-click="all(selectAll)">
	                    <!--<label for="all"></label>-->
	                   		 全选
	                </li>
	                <li class="list_con">商品信息</li>
	                <li class="list_info">商品参数</li>
	                <li class="list_price">金额</li>
	            </ul>
	            <ul class="order_lists" ng-repeat="item in items">
                    <li class="list_chk list_cons">
                        <input type="checkbox" ng-checked="selectAll" ng-model="person.state" value="{{selectAll}}" ng-click="{{allsel(selectAll)}}">
                    </li>
                    <li class="list_con">
                        <div class="list_img"><a href="javascript:;"><img src="images/2.png" alt=""></a></div>
                        <div class="list_text"><a href="javascript:;">{{item.tea.content}}</a></div>
                    </li>
                    <li class="list_info">
                        <p>规格：默认</p>
                    </li>
                    <li class="list_price">
                        <p class="price">￥{{item.tea.price}}</p>
                    </li>
                </ul> 
	        </div>


        <!--底部-->
        <div class="bar-wrapper">
            <div class="bar-right">
                <div class="totalMoney">共计: <strong class="total_text">{{num}}</strong></div>
                <div class="calBtn" ng-click="money()""><button class="clabb" >结算</button></div>
            </div>
        </div>
    </section>
    <div class="buy_con">		
	</div>
	<div class="buy_inpu">
    		<li>
				收货人：<input ng-model="buyname"/>
			</li>
			<li>
				电话：<input ng-model="phon"/>
			</li>
			<li>
				地址：<input ng-model="address"/>
			</li>
			<button ng-click="buysh()">提交</button>
    </div>
    