.member_container{
	width: 1024px;
    height: 768px;
	border: 1px solid;
	margin: auto;
	background-image: url(../images/bc.JPG);
	background-size: 100%;
    background-repeat: no-repeat;
}
.member_container_title>span{
	font-size: 34px;
    color: #9c8892;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 99px;
}
.member_main{
	width: 700px;
    border: 1px solid;
    margin: auto;
    margin-top: 40px;
    background: #fff;
    border-radius: 8px;
    min-height: 350px;
}
